
/*----------ABOUT US --------*/


.dropdoun {
	width: 75%;
	margin: 0  auto;


}
.dropdoun ul{
	list-style: none;
	margin-top: 2%;
}
.dropdoun ul li{
  background: #000 ;
	width: 150px;
	border: 1px solid #fff;
	height: 30px;
	line-height: 30px;
	text-align: center;
	float: left;
	color: #fff;
	font-size: 14px;
	position: relative ;
	font-family: big john;
  border-radius: 15px;

}
.dropdoun ul li:hover{
	background: #008B8B;
}
.dropdoun ul ul{
	display: none;
}
.dropdoun ul li:hover > ul{
	display: block;
}
